h1, h2, h3{
    text-align: center;
}
.bg-image {
 
display: flex;
flex-direction: column;
background-image: url('../img/eu.png');
align-items: center;
justify-content: center;
width:150px;
height: 150px;
border-radius: 50%;
background-repeat: no-repeat;
    
  }
  

  