<div class="class">
  <h2>Resumo Profissional</h2>
  <ul>
    <li>
      2 anos de experiência como Programador Java em empresa Nacional do
      segmento de Consultoria.
    </li>
    <li>Sólidos conhecimentos em linguagem de programação Java.</li>
    <li>Experiência em programação web (CSS, HTML, Javascript).</li>
    <li>Experiência com bancos de dados SQL.</li>
    <li>Responsabilidade em analisar e corrigir defeitos do sistema.</li>
    <li>
      Domínio em analisar e melhorar o desempenho de funcionalidades já
      implantadas.
    </li>
    <li>
      Vivência em projetar, implementar e dar suporte a soluções para
      desenvolvimento de aplicativos.
    </li>
    <li>Conhecimento em infraestrutura de TI.</li>
    <li>Graduado em Sistema da Informação.</li>
  </ul>
</div>
