<div class="class">
  <h2>EXPERIÊNCIA PROFISSIONAL</h2>
  <h3>
    09/2008 – Atual. Madeireira Popular Ltda l Casa da Madeira Campo Belo Ltda.
    Empresa Nacional de médio porte do segmento de Material de Construção.
    Proprietário/Vendedor.
  </h3>
  <ul>
    <li>Atendimento ao cliente.</li>
    <li>Compra e venda de mercadorias.</li>
    <li>Contato com fornecedores.</li>
  </ul>
  <h3>
    02/2007 – 08/2008 l Mcn Tecnolog&amp;Consulting Empresa Nacional do segmento
    de Consultoria. Programador Java Júnior.
  </h3>
  <ul>
    <li>Experiência em Desenvolvimento de software e Banco de dados.</li>
    <li>Vivência no Desenvolvimento web.</li>
    <li>Implementação e alterações de sistemas.</li>
    <li>Participação na reformulação e modernização de sistemas.</li>
    <li>Domínio na linguagem Java.</li>
    <li>Resolução de problemas.</li>
    <li>
      Conhecimento de JPA (Java Persistence API), CSS, JavaScript, Hibernate,
      Spring Framework, SQL e Desenvolvimento de back-end.
    </li>
  </ul>
</div>
