/* You can add global styles to this file, and also import other style files */
body, li {
    background-color: rgb(21, 18, 18);
    font-family: Arial, sans-serif;
    margin: 10px;
}
h1, h3, p, li, a{
    color: white;
}
h2{
    color:rgb(14, 168, 55)
}
.class{
    border-bottom: 8px solid rgb(11, 11, 72) ;
    padding: 1em;
    margin-bottom: 1em;
    
}
/* You can add global styles to this file, and also import other style files */
